@using Microsoft.AspNet.Identity
@*@model IEnumerable<InspectV2.Models.NewsCategory>*@
@model InspectV2.ViewModels.IndexHomeViewModel

@{
    ViewBag.Title = "Home";


    var TopNews = Model.News.GetRange(0, 2);
    var CurrentNews = Model.News.GetRange(2, Model.News.Count - 2);
}

<div class="container section_space news_state">
    <div class="row">
        <div class="col-sm-12">
            <h2>Categories</h2>
        </div>
    </div>
</div>

<div class="container section_space contain_categories">
    <div class="container mt-2">
        <div class="row">
            <div class="col-sm-12">
                <div class="scrollmenu categories-new-version">

                    @foreach (var newsCategory in Model.NewsCategories)
                    {
                        <a href="Category/CategoryDetails/@newsCategory.Id">@newsCategory.CategoryName</a>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container section_space news_state">
    <div class="row">
        <div class="col-sm-12">
            <h2>Top News</h2>
        </div>
    </div>
</div>


@foreach(var news in TopNews)
{
    if(TopNews.IndexOf(news) == 0)
    {

    }
}
<div id="cover_news" class="container section_space">
    <div class="row">
        @foreach (var news in TopNews)
        {
            if (TopNews.IndexOf(news) == 0)
            {
                <div class="col-sm-6 news_left">
                    <a href="newsdetails/@news.Id">
                        <img src="~/Content/images/@news.Image" alt="">
                        <br><br>
                        <h3>
                            @news.Title
                        </h3>
                        <p>@news.Created_at.ToString("ddd MMM, yyy")</p>
                        <p class="content">
                            @news.Excerpt<span>
                                <b>
                                    <a class="text-primary" href="newsdetails/@news.Id">
                                        Read
                                        More
                                    </a>
                                </b>
                            </span>
                        </p>
                    </a>

                </div>

            }
            else
            {
                <div class="col-sm-6 news_right">
                    <a href="newsdetails/@news.Id">
                        <img src="~/Content/images/@news.Image" alt="">
                        <br><br>
                        <h3>
                            @news.Title
                        </h3>
                        <p>@news.Created_at.ToString("ddd MMM, yyy")</p>
                        <p class="content">
                            @news.Excerpt
                            <span><b><a class="text-primary" href="newsdetails/@news.Id"> Read More</a></b></span>
                        </p>
                    </a>
                </div>

            }
        }
    </div>
</div>



<!-- all news -->
<div id="all_news" class="container section_space">
    <div class="row">
        <div class="col-md-7">
            <h2 class="news_heading">
                Current News
            </h2>


            @*==========================*@

            @foreach (var news in CurrentNews)
            {
                <div class="row news_each mt-4">
                    <div class="col-md-4 news_each_img">
                        <img src="~/Content/images/@news.Image" alt="">
                        <!-- <p>5:30 PM. 13th August, 2019 </p> -->
                    </div>
                    <div class="col-md-8 news_each_heading">
                        <a href="newsdetails/@news.Id">
                            <p>
                                @news.Title
                            </p>
                        </a>

                    </div>
                </div>
                <div class="row news_each_content">
                    <div class="col-md-12">
                        <p>
                            @news.Excerpt 
                            <span>
                                <a href="newsdetails/@news.Id">
                                    Read
                                    More
                                </a>
                            </span>
                        </p>
                        <hr>
                    </div>
                </div>

            }

            @*================================*@
        </div>
        <div class="col-md-5">
            <h2 class="news_heading">
                Sponsored Post
            </h2>
            <br />
            <div class="sponsored">
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-1.png" alt="">
                    <br />
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>Google Fi - a phone plan, by Google </h5>
                    </a>


                    <p>
                        We felt that most phone plans just weren't made with you in mind. So that's why we built
                        Google
                        Fi with features that real people actually want. Click to learn more. <span>
                            <a href="news_details.html">
                                More
                            </a>
                        </span>
                    </p>
                    <hr>
                </div>
                <!-- 2nds -->
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-2.png" alt="">
                    <br />
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>
                            Adobe's After Effects adds Content-Aware Fill for videos, which can intelligently remove
                            and
                            replace objects in a scene
                        </h5>
                    </a>

                    <p>
                        We felt that most phone plans just weren't made with you in mind. So that's why we built
                        Google
                        Fi with features that real people actually want. Click to learn more. <span>
                            <a href="news_details.html">
                                More
                            </a>
                        </span>
                    </p>
                    <hr>
                </div>

                <!-- 3rd -->
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-3.png" alt="">
                    <br />
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>
                            How Steve Jobs conceived the “bicycle for the mind” metaphor for the personal computer,
                            which largely drove Apple's philosophy for decades
                        </h5>
                    </a>


                    <p>
                        “When we invented the personal computer, we created a new kind of bicycle...a new man-machine
                        partnership...a new generation of entrepreneurs." <span>
                            <a href="news_details.html">
                                More
                            </a>
                        </span>
                    </p>
                    <hr>
                </div>

                <!-- 4th -->
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-4.png" alt="">
                    <br />
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>Google Fi - a phone plan, by Google </h5>
                    </a>

                    <p>
                        We felt that most phone plans just weren't made with you in mind. So that's why we built
                        Google
                        Fi with features that real people actually want. Click to learn more. <span>
                            <a href="news_details.html">
                                More
                            </a>
                        </span>
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="particles-js" class="section_space text-center">
    <div class="Contact_info">
        <h3>TechHappens</h3>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>



