@model InspectV2.ViewModels.NewsDetailsVIewModel
@{
    ViewBag.Title = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SponsorCount = 0;
    var SimilarNews = 0;
}

<div class="container section_space news_Heading">
    <div class="row">
        <div class="col-sm-7">
            <h1 style="font-family: 'Playfair Display', serif;">
                @Model.News.Title
            </h1>
            <div class="publishDateTime">
                <span><i class="far fa-calendar-alt"></i></span>
                <span>@Model.News.Created_at.ToString("dd MMM, yyyy, hh:mm:ss")</span>
                <br />
                @*<span>@Model.Created_at.ToShortDateString()</span>*@
            </div>
            <div class="share_news_socials">
                <ul>
                    <li><a class="cool-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="cool-link" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="cool-link" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <br><br>
            <div class="news_cover_img">
                <img src="~/Content/images/@Model.News.Image" alt="">
                <br>
                @*<p class="text-center mt-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>*@
            </div>
            <div class="main_news mt-4">
                @Html.Raw(Model.News.Body)
            </div>

            <div class="similar_news mt-4">
                <h3 class="news_heading">
                    Similar News
                </h3>
                <br><br>
                    <div class="row">
                        @foreach (var news in Model.NewsList)
                        {
                            if (news.NewsCategory.Id == Model.News.NewsCategory.Id && SimilarNews != 3 && news.Id != Model.News.Id)
                            {
                                <div class="col-sm-4">
                                    <img src="~/Content/images/@news.Image" alt="">
                                    <br>
                                    <p class="font-weight-bold mt-1">
                                        <a href="newsdetails/@news.Id">
                                            @news.Title
                                        </a>
                                    </p>
                                </div>
                            }
                        }
                        @*<div class="col-sm-4">
                            <img src="~/Content/images/news-2.jpg" alt="">
                            <br>
                            <p class="font-weight-bold mt-1">
                                <a href="news_details.html">
                                    DeepMind execs talk about the importance of interdisciplinary research and how AI
                                    could
                                    help
                                    solve tough scientific problems, like predicting shapes of proteins
                                </a>
                            </p>
                        </div>*@
                        @*<div class="col-sm-4">
                            <img src="~/Content/images/news-1.jpg" alt="">
                            <br>
                            <p class="font-weight-bold mt-1">
                                <a href="news_details.html">
                                    Source: the FTC's antitrust investigation into Facebook will focus on the company's
                                    core
                                    social networking business
                                </a>
                            </p>
                        </div>*@
                        @*<div class="col-sm-4">
                            <img src="~/Content/images/news-3.jpg" alt="">
                            <br>
                            <p class="font-weight-bold mt-1">
                                <a href="news_details.html">
                                    Synergy Research: enterprise SaaS revenue will hit $100B annual run rate in Q2, with
                                    Microsoft, Salesforce, and Adobe accounting for nearly 40% of the market
                                </a>
                            </p>
                        </div>*@
                    </div>
            </div>
        </div>

        <div class="col-md-5">
            <h2 class="news_heading">
                Sponsored Post
            </h2>
            <br />
                @foreach (var news in Model.NewsList)
                {
                    if (news.Sponsor.SponsorShip == "True" && SponsorCount != 3)
                    {
                        <div class="sponsored">
                            <div class="each_sponsor">
                                <img src="~/Content/images/@news.Image" alt="">
                                <br />
                                <a class="sponsor_link_home" href="@news.Id">
                                    <h5>@news.Title </h5>
                                </a>


                                <p>
                                    @news.Excerpt <span>
                                        <a href="@news.Id">
                                            More
                                        </a>
                                    </span>
                                </p>
                                <hr>
                        </div>
                        </div>
                            SponsorCount++;
                        }
                }
                        @*<div class="sponsored">
                    <div class="each_sponsor">
                        <img src="~/Content/images/logo-1.png" alt="">
                        <br />
                        <a class="sponsor_link_home" href="news_details.html">
                            <h5>Google Fi - a phone plan, by Google </h5>
                        </a>


                        <p>
                            We felt that most phone plans just weren't made with you in mind. So that's why we built
                            Google
                            Fi with features that real people actually want. Click to learn more. <span>
                                <a href="news_details.html">
                                    More
                                </a>
                            </span>
                        </p>
                        <hr>
                    </div>*@
                        <!-- 2nds -->
                        @*<div class="each_sponsor">
                        <img src="~/Content/images/logo-2.png" alt="">
                        <br />
                        <a class="sponsor_link_home" href="news_details.html">
                            <h5>
                                Adobe's After Effects adds Content-Aware Fill for videos, which can intelligently remove
                                and
                                replace objects in a scene
                            </h5>
                        </a>

                        <p>
                            We felt that most phone plans just weren't made with you in mind. So that's why we built
                            Google
                            Fi with features that real people actually want. Click to learn more. <span>
                                <a href="news_details.html">
                                    More
                                </a>
                            </span>
                        </p>
                        <hr>
                    </div>*@

                        <!-- 3rd -->
                        @*<div class="each_sponsor">
                        <img src="~/Content/images/logo-3.png" alt="">
                        <br />
                        <a class="sponsor_link_home" href="news_details.html">
                            <h5>
                                How Steve Jobs conceived the “bicycle for the mind” metaphor for the personal computer,
                                which largely drove Apple's philosophy for decades
                            </h5>
                        </a>


                        <p>
                            “When we invented the personal computer, we created a new kind of bicycle...a new man-machine
                            partnership...a new generation of entrepreneurs." <span>
                                <a href="news_details.html">
                                    More
                                </a>
                            </span>
                        </p>
                        <hr>
                    </div>*@

                        <!-- 4th -->
                    </div>
                </div>
    </div>


<div id="particles-js" class="section_space text-center">
    <div class="Contact_info">
        <h3>TechHappens</h3>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>







<!-- Optional JavaScript -->
<script src="~/Content/js/particles.js"></script>
<script src="~/Content/js/app.js"></script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="~/Content/js/controlModal.js"></script>

<script>

</script>

