@model InspectV2.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@*<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}*@

<div class="col-md-6 signup-right d-none d-md-block">
    <h2>
        By Signing in, Get Access To

    </h2>
    <div class="card mt-3" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title mb-4">Create your company's own event.</h5>
            <p>
                This feature will help you to grow a complete network around the people who are in same
                business like you.
                let people invite at your event and let them know what your coompany is up to. Share and
                gather knowledge together.
            </p>
        </div>
    </div>
    <div class="card mt-3" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">Get Hired !!</h5>
            <p>
                Get Job posts from various tonotch local and global companies like NewsCred, Grameenphone
                etc.
                Match with your requirement and see yourself where you blen in perfectly.
            </p>
        </div>
    </div>
    <div class="card mt-3" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">Documentaries</h5>
            <p>
                Let your knowledge grow by watching all the tech and business documentary from the big ceo's
                of silicon valley.
                Learn what they are up to and how they are impacting the world with revolutionary
                technology.
            </p>
        </div>
    </div>
</div>