@using InspectV2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="container main_form_container">
    <div class="row">
        <div class="col-md-6 form_container_control">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {@class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email,  new { @class = "col-md-2 control-label" })*@
                    
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter Email", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    
                </div>
                <div class="form-group">
                    
                        <input type="submit" value="Log in" class="btn btn_sign" />
                    
                </div>
                
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }

        </div>

        <div class="col-md-6 info_container_signin d-none d-md-block">
            <h2>
                By Signing in, Get Access To
            </h2>
            <div class="card mt-3" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title mb-4">Create your company's own event.</h5>
                    <p>
                        This feature will help you to grow a complete network around the people who are in same
                        business like you.
                        let people invite at your event and let them know what your coompany is up to. Share and
                        gather knowledge together.
                    </p>
                </div>
            </div>
            <div class="card mt-3" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Get Hired !!</h5>
                    <p>
                        Get Job posts from various tonotch local and global companies like NewsCred, Grameenphone
                        etc.
                        Match with your requirement and see yourself where you blen in perfectly.
                    </p>
                </div>
            </div>
            <div class="card mt-3" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">River !!</h5>
                    <p>
                        River helps you to find all the news based on single page. 
                        If you can not figure out where to look at, you can always choose to look at everything at once.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- Optional JavaScript -->
<script src="~/Content/js/particles.js"></script>
<script src="~/Content/js/app.js"></script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="~/Content/js/controlModal.js"></script>
<script src="~/Content/js/handle-signin-signup.js"></script>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}