@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>@ViewBag.Title | Inspect</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- css link -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fauna+One&display=swap" rel="stylesheet">
    <!-- font-family: 'Playfair Display', serif; -->
    <!-- font-family: 'Lato', sans-serif; -->
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/1685df272a.js"></script>

</head>
<body>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        -->
    @*---------------custom nav bar and logo-------------------*@

    <div id="header" class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href='@Url.Action("Index", "Home")'><img src="~/Content/images/Inspect-2.png" alt="logo"></a>
                <div class="get_started">
                    @*<span><a href='@Url.Action("Register", "Account")'><img class="userProfile mr-2" src="~/Content/images/editor-3.jpg" alt=""></a></span>*@
                   
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
                            </ul>
                            <span>
                                <button class="btn btn-outline-dark signlink" onclick="location.href='javascript:document.getElementById('logoutForm').submit()'">Logout</button>
                            </span>
                        }
                    }
                    else
                    {

                        <span>
                            <button class="btn btn-outline-dark signlink" onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
                        </span>
                        <span>
                            <button class="btn btn-outline-dark signlink" onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
                        </span>

                        @*<ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "" })</li>
                                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "" })</li>
                                <button class="btn btn-outline-dark signlink" onclick="location.href='@Url.Action("Register", "Account")'">asdfa</button>
                            </ul>*@
                    }

                </div>
            </div>
        </div>
    </div>

    

    @*-------------------custom nav bar and logo end here-------------------*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year | Inspect</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
