@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>@ViewBag.Title | TechHappens</title>

    @*do not needed for this project*@
    @*@Styles.Render("~/Content/css")*@
    @**@

    @Scripts.Render("~/bundles/modernizr")

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- css link -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fauna+One&display=swap" rel="stylesheet">
    <!-- font-family: 'Playfair Display', serif; -->
    <!-- font-family: 'Lato', sans-serif; -->
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/1685df272a.js"></script>

</head>
<body>
    @*---------------custom nav bar and logo-------------------*@

    <div id="header" class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href='@Url.Action("Index", "Home")'><h2 class="mt-2" style="display:inline-block;color: black; font-family:'Roboto Slab'">TechHapppens</h2></a>
                <div class="get_started">
                    @*<span><a href='@Url.Action("Register", "Account")'><img class="userProfile mr-2" src="~/Content/images/editor-3.jpg" alt=""></a></span>*@

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <!--
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-outline-dark signlink" })
                                </li>
                                @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
                            </ul>
                                -->
                            <span>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-outline-dark signlink" })
                            </span>

                            <span>
                                <button class="btn btn-outline-dark signlink" onclick="location.href='javascript:document.getElementById('logoutForm').submit();'">Logout</button>
                            </span>
                        }
                    }
                    else
                    {

                        <span>
                            <button class="btn btn-outline-dark signlink" onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
                        </span>
                        <span>
                            <button class="btn btn-outline-dark signlink" onclick="location.href='@Url.Action("Login", "Account")'">Log In</button>
                        </span>

                        @*<ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "" })</li>
                                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "" })</li>
                                <button class="btn btn-outline-dark signlink" onclick="location.href='@Url.Action("Register", "Account")'">asdfa</button>
                            </ul>*@
                    }

                </div>
            </div>
        </div>
    </div>



    @*-------------------custom nav bar and logo end here-------------------*@

    @{
        string url = HttpContext.Current.Request.RawUrl;

    }

    @if (!url.Equals("/Account/Register") && !url.Equals("/Account/Login"))
    {

        <!-- navigation bar -->
        <div id="navbar" class="container mt-2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="scrollmenu">
                        <a href='@Url.Action("Index", "Home")' class="active">HOME</a>
                        <a href='@Url.Action("Index", "About")'>ABOUT</a>
                        <a href='@Url.Action("Index", "Event")'>EVENTS</a>
                        <a href='#'>GET HIRED</a>
                        <a href="#">RIVER</a>
                        <a href='#'>CONTACT</a>

                        @*<a href='@Url.Action("Index", "JobPost")'>GET HIRED</a>
                        <a href="@Url.Action("River", "Home")">RIVER</a>
                        <a href='@Url.Action("Index", "Contact")'>CONTACT</a>*@
                    </div>
                </div>
            </div>
        </div>

    }



    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <!-- Optional JavaScript -->
    <script src="~/Content/js/particles.js"></script>
    <script src="~/Content/js/app.js"></script>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/Content/js/controlModal.js"></script>
</body>
</html>
