@model InspectV2.ViewModels.CategoryViewModel
@{
    ViewBag.Title = "Category";
    var SponsorShip = 0;

}

<div class="container section_space news_state">
    <div class="row">
        <div class="col-sm-12">
            <h2>@Model.CategoryName</h2>
        </div>
    </div>
</div>


<!-- all news -->
<div id="all_news" class="container section_space">
    <div class="row">
        <div class="col-md-7">


            @*==========================*@

            @foreach (var news in Model.News)
            {
                <div class="row news_each mt-4">
                    <div class="col-md-4 news_each_img">
                        <img src="~/Content/images/@news.Image" alt="">
                        <!-- <p>5:30 PM. 13th August, 2019 </p> -->
                    </div>
                    <div class="col-md-8 news_each_heading">
                        <a href="/newsdetails/@news.Id">
                            <p>
                                @news.Title
                            </p>
                        </a>

                    </div>
                </div>
                <div class="row news_each_content">
                    <div class="col-md-12">
                        <p>
                            @news.Excerpt
                            <span>
                                <a href="/newsdetails/@news.Id">
                                    Read
                                    More
                                </a>
                            </span>
                        </p>
                        <hr>
                    </div>
                </div>

            }

            @*================================*@



        </div>
        <div class="col-md-5">
            <h2 class="news_heading">
                Sponsored Post
            </h2>
            <br />
            <div class="sponsored">
                @foreach (var news in Model.Sponsored)
                {
                    if (news.Sponsor.SponsorShip == "True" && SponsorShip < 3)
                    {
                        <div class="each_sponsor">
                            <img src="~/Content/images/@news.Image" alt="">
                            <br />
                            <a class="sponsor_link_home" href="/newsDetails/@news.Id">
                                <h5>@news.Title </h5>
                            </a>


                            <p>
                                @news.Excerpt <span>
                                    <a href="/newsDetails/@news.Id">
                                        More
                                    </a>
                                </span>
                            </p>
                            <hr>
                        </div>

                        SponsorShip++;
                    }
                }
            </div>
        </div>
    </div>
</div>


<div id="particles-js" class="section_space text-center">
    <div class="Contact_info">
        <h3>TechHappens</h3>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>





