@model IEnumerable<InspectV2.Models.JobPost>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container section_space">
    <div class="row">
        <div class="col-md-7">
            <h1 style="display: inline-block; border-bottom:2px solid #1e1d1d">Job Posts</h1>
            <br><br>
            @foreach (var job in Model)
            {
                <div class="card">
                    <div class="card-header">
                        @job.Company
                    </div>
                    <div class="card-body">
                        <p class="posiiton">
                            <strong style="text-decoration: underline"> Position:</strong> @job.Position
                        </p>
                        <p class="deadline">
                            <strong style="text-decoration: underline"> Application Deadline:</strong>
                            @job.Deadline.ToString("ddd MMM, yyy")
                        </p>
                        <p class="requirements-header">
                            <strong style="text-decoration: underline">Requirements:</strong>
                        </p>

                        <div class="requirements">
                            @Html.Raw(job.Body)
                        </div>

                        

                        <span>
                            <a href="@job.Link">
                                <button type="button"
                                        class="btn btn-outline-dark">
                                    Details
                                </button>
                            </a>
                        </span>
                    </div>
                </div>
                <br />
            }
        </div>


        <div class="col-md-5">
            <h2 class="news_heading">
                Sponsored Post
            </h2>
            <br />
            <div class="sponsored">
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-1.png" alt="">
                    <br />
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>Google Fi - a phone plan, by Google </h5>
                    </a>


                    <p>
                        We felt that most phone plans just weren't made with you in mind. So that's why we built
                        Google
                        Fi with features that real people actually want. Click to learn more. <span>
                            <a href="news_details.html">
                                More
                            </a>
                        </span>
                    </p>
                    <hr>
                </div>
                <!-- 2nds -->
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-2.png" alt="">
                    <br />
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>
                            Adobe's After Effects adds Content-Aware Fill for videos, which can intelligently remove
                            and
                            replace objects in a scene
                        </h5>
                    </a>

                    <p>
                        We felt that most phone plans just weren't made with you in mind. So that's why we built
                        Google
                        Fi with features that real people actually want. Click to learn more. <span>
                            <a href="news_details.html">
                                More
                            </a>
                        </span>
                    </p>
                    <hr>
                </div>

                <!-- 3rd -->
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-3.png" alt="">
                    <br />
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>
                            How Steve Jobs conceived the “bicycle for the mind” metaphor for the personal computer,
                            which largely drove Apple's philosophy for decades
                        </h5>
                    </a>


                    <p>
                        “When we invented the personal computer, we created a new kind of bicycle...a new man-machine
                        partnership...a new generation of entrepreneurs." <span>
                            <a href="news_details.html">
                                More
                            </a>
                        </span>
                    </p>
                    <hr>
                </div>

                <!-- 4th -->
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-4.png" alt="">
                    <br />
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>Google Fi - a phone plan, by Google </h5>
                    </a>

                    <p>
                        We felt that most phone plans just weren't made with you in mind. So that's why we built
                        Google
                        Fi with features that real people actually want. Click to learn more. <span>
                            <a href="news_details.html">
                                More
                            </a>
                        </span>
                    </p>
                    <hr>
                </div>
            </div>
        </div>


    </div>
</div>











<div id="particles-js" class="section_space text-center">
    <div class="Contact_info">
        <h3>TechHappens</h3>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>







<!-- Optional JavaScript -->
<script src="~/Content/js/particles.js"></script>
<script src="~/Content/js/app.js"></script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="~/Content/js/controlModal.js"></script>

<script>

</script>

